@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #6c00ac 1.84%, #fff 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #6c00ac -13.86%, #fff 99.55%);

  --color-bg: #0d0d0d;
  --color-footer: #D9E0EE;
  --color-blog: #302D41;
  --color-text: white;
  --color-subtext: #C9CBFF;
}