@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: radial-gradient(circle at 25% 0%, #96CDFB 0%, #EE82EE 100%);
  --gradient-bar: linear-gradient(103.22deg, #6c00ac -13.86%, #fff 99.55%);

  --color-bg: black;
  --color-footer: #D9E0EE;
  --color-blog: #302D41;
  --color-text: #eceff1; 
  --color-subtext: #C9CBFF;
}